body{
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

::selection{
  background-color: #ffd000a1;
  color: rgba(10, 10, 10, 0.942);
}

.svg-icon{
  width: 60px;
}

.logo--course{
  display: flex;
  align-items: center;
  .logo{
    width: 30px;
  }
  p{
    margin-left: 10px;
    text-transform: uppercase; 
    font-weight: bold;
    font-size: 15px;
    color: black;
  }
  @media screen and (min-width:600px) {
    .logo{
      width: 50px;
    }
    p{
      font-size: 22px;
    }
  }
  @media screen and (min-width:920px) {
    
  }
}

a{
  text-decoration: none;
}

h2{
  text-align: center;
  font-size: 25px;
}

h3{
  font-size: 22px;
}

h4{
  font-size: 20px;
}

h5{
  color: white;
  font-size: 16px;
  
}

hr{
  width: 60px;
  border: none;
  height: 5px;
  background-color: #ffb606;
}

.button{
  width: fit-content;
  color: white;
  padding: 15px 35px;
  background-color: #ffb606;
  border: none;
  transition: all .15s ease-in-out;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
  &:hover{
  box-shadow: 5px 5px 15px rgb(33, 33, 33);
  transition: all .3s ease-in-out;
  }
  &:active{
    scale: 0.99;
    transition: all .15s ease-in-out;
    box-shadow: 1px 1px 15px rgb(33, 33, 33);
  }
}

.displaynone{
  display: none;
}

.typetext{
    border: none;
    padding: 15px 30px;
    width: 95%;
    margin: 0 auto 20px;
}

.footer--txt{
  color: #5d5d5d;
  font-size: 14px;
  font-weight: bold;
  a{
    color: #5d5d5d;
    font-size: 14px;
    font-weight: bold;
  }
}

.wrapper{
  width: 95%;
  margin: 0 auto;
  
}

// --------- popular courses: homepage & course page
.popular_courses{
  h2{
    margin-bottom: 80px;
  }
  > div{
    // width: 95%;
    margin: 0 auto 70px;
    > div{
      margin-bottom: 80px;
      text-align: center;
      background-color: rgb(241, 241, 241);
      img{
        width: 100%;
      }
      .title{
        h4{
          margin-bottom: 0;
          a{
            color: #1a1a1a;
            &:hover{
              color: #5d5d5d;
            }
          }    
        }
        p{
          margin: 0 auto 35px;
          font-size: 12px;
          color: rgb(128, 128, 128);
          font-weight: bold;
        }
      }
      .author{
        background-color: rgb(219, 219, 219);
        height: 65px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        div{
          display: flex;
          padding: 10px 30px;
          font-weight: bold;
          font-size: 14px;
          img{
            width: 45px;
            height: 45px;
            border-radius: 50%;
            margin-right: 20px;
          }
          p{
            // margin: 0;
          }
          span{
            color: rgb(128, 128, 128);
          }
        }
        a{
          background-color: #ffb606;
          height: 100%;
          width: 65px;
          color: white;
          font-weight: bold;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 18px;
        }
      }
    }
    @media screen and (min-width:920px) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;
      max-width: 1024px;
      > div{
        max-width: 300px;
        // .titles{}
        .author{
          text-align: left;
          img{
            margin-top: 5px;
          }
          
        }
      }
    }

  }


}













