header{
  background: url(../img/slider_background.jpg) center/cover;
  height: 100vh;
  nav{
    background-color: white;
    width: 90%;
    height: 70px;
    position: fixed;
    top: 20px;
    right: 50%;
    transform: translateX(50%);
    z-index: 2;
    box-shadow: 1px 1px 20px black;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    a:not(a:first-of-type, a:last-of-type){
      display: none;
      &:hover{
        color: #ffb606;
      }
    }

    .burger-menu{
      height: 30px;
      width: 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      div{
        position: relative;
        background-color: black;
        height: 3px;
        width: 20px;
      }
    }
    

    @media screen and (min-width:600px) {
      height: 100px;
      padding: 0 50px;
    }
    @media screen and (min-width:920px) {
      top: 50px;
      max-width: 1000px;
      a:not(a:first-of-type, .phone-number, a:last-of-type){
        display: flex;
        color: black;
        font-size: 14px;
        font-weight: bold;
        align-items: center;
      }
      a:last-of-type{
        display: none;
      }
    }
    @media screen and (min-width:1200px) {
      .phone-number{
        display: block;
        background-color: #ffb606;

        img{
          width: 30px;
        }
      }
    }
  }
  .main-title{
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translateX(50%);
    h1{
      margin: 0;
      color: white;
      white-space: wrap;
      text-align: center;
      font-size: 45px;
      font-weight: normal;
      transition: all .3s ease-in-out;

      span{
        background-color: #ffb606;
        padding: 0 8px;
      }
      &:hover{
        scale: 1.05;
        transition: all .3s ease-in-out;
      }
    }
  }
}
@media screen and (min-width:920px) {
  .main_page{
    header{
      h1{
        font-size: 50px;
      }
      .displaynone{
        position: absolute;
        bottom: 0;
        right: 50%;
        transform: translateX(50%);

        display: flex;
        // flex-direction: row;
        justify-content: space-around;
        width: 100%;
        max-width: 1024px;
        
        color: white;
        > div{
          background-color: #1a1a1a;
          width: 280px;
          margin-bottom: 50px;
          display: flex;
          white-space: nowrap;
          align-items: center;
          padding: 50px 20px;
          cursor: pointer;
          img{
            margin-right: 15px;
          }
          h3{
            margin: 10px 0;
          }
          a{
            color: white;
            text-transform: uppercase;
            font-size: 12px;
            &:hover{
                color: black;
            }
          }
          &:hover{
            background-color: #ffb606;
            img{
              filter: brightness(100);
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width:1200px) {
  header{
    .categorie{
      > div{
        padding: 50px 50px;
      }
    }
  }
  
}














